.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;    
    max-width: 50%;
}

.thumb{
    width: 270px;
    height: 135px;
}

button{
    border: 0px;
    background-color:white;
}

button:hover{
    cursor: pointer;
    background-color: gray;
}

p{
    margin-top: 0;
    text-align: center;
    padding-right: 100px;
}