<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>{{ deal['gameInfo']['name'] }}</title>
  </head>
  
  <body>
    {{deal}}
    <br><br>
    {{game}}
    <div class="wrapper">
      <img src="https://cdn.akamai.steamstatic.com/steam/apps/{{ deal['gameInfo']['steamAppID'] }}/header.jpg">
    </div>
  </body>
</html>

