<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>{{ deal['gameInfo']['name'] }}</title>
  </head>
  
  <body>
    <div class="game-wrapper">
      <div class="column">
        <img class="header" src="https://cdn.akamai.steamstatic.com/steam/apps/{{ deal['gameInfo']['steamAppID'] }}/header.jpg">
        <iframe width="430" height="260" src="https://www.youtube.com/embed/{{video[0]['video_id']}}" frameborder="0" allowfullscreen></iframe>
      </div>
      <div class="column">
        <div class="game-info">{{game[0]['summary']}}</div>
        <div class="game-info">
          <a href="https://store.steampowered.com/app/{{deal['gameInfo']['steamAppID']}}">
            <img class='button' src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/83/Steam_icon_logo.svg/2048px-Steam_icon_logo.svg.png">
          </a>
          <div id="price-tag"><s>{{deal['gameInfo']['retailPrice']}}</s>  {{deal['gameInfo']['salePrice']}}</div>
          <div class="rating"><img class="button" src="https://static.vecteezy.com/system/resources/thumbnails/001/189/165/small/star.png"> <div id="rating-tag">{{deal['gameInfo']['steamRatingText']}}</div></div>
        </div>
        <div class="screenshots">
          {% for sc in screenshots %}
            <img class="screenshot" src="https://images.igdb.com/igdb/image/upload/t_original/{{ sc['image_id'] }}.jpg">
          {% endfor %}
        </div>
      </div>
    </div>
  </body>
</html>

