<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Document</title>
  </head>

  <body>
    <form action="{{ url_for('index') }}" method="POST" >
      <p>Search:</p>
      {{ form.name(class='form_input') }}
      <br>
      <p>Min Price: </p>
      {{ form.min_price(class='form_input') }}
      <p>Max Price: </p>
      {{ form.max_price(class='form_input') }}
      <br>
      {{ form.submit(class='form_input') }}
    </form>

    <br>

    <p> {{ games }} </p>
  </body>
</html>