<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Document</title>
  </head>

  <body>
    <form action="{{ url_for('index') }}" method="POST">
      Search: {{ form.name(class='form_input', **{"onchange":"this.form.submit()"}) }}
      Min Price: {{ form.min_price(class='form_input', **{"onchange":"this.form.submit()"}) }}
      Max Price: {{ form.max_price(class='form_input', **{"onchange":"this.form.submit()"}) }}
    </form>
  {{ games[0] }}
  <div class="wrapper">
    {% for game in games %}
      <div>
        <img src="{{ game['thumb'] }}" width="220" height="100">
        <p>{{ game['title'] }} {{ game['savings']|int }}%</p>
      </div>
    {% endfor %}
  </div>
  </body>
</html>